@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    user-select: none;
    margin: 0;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    --toastify-font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    --toastify-toast-min-height: 25px;
}

body {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    word-wrap: break-word;
}

a {
    font-weight: 500;
    color: #2563eb;
    text-decoration: inherit;
}

a:hover {
    color: #2456c5;
}


label {
    font-size: .9em;
}

/* Change scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b4b4b4;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
